body {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #ddd;
}
.paper-sheet {
	padding: 30px 45px 45px 45px;
}

.my-search {
	position: relative;
}

.my-search .my-search-query {
	padding-left: 29px;
}

.my-search .icon-search {
	position: absolute;
	top: 11px;
	left: 9px;
	background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}
@media (max-width: 979px) {
	.my-search .icon-search { top:22px; left: 22px }
}

header a {
	float: right;
	margin: 20px 20px 20px 10px;
}
header a.ufal {
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
	margin-top: 22px;
}
header a.logo {
	float: left;
}

header h1 {
	font-size: 30px;
	margin-top: 22px;
}
header h2 {
	font-size: 18px;
	line-height: 28px;
	display: inline;
	color: #777;
}

.nav-header {
	color: #A60C00;
}
.navbar .nav > li > a {
	text-transform: uppercase;
	font-weight: bold;
}

.row {
	ZXmargin-bottom: 45px;
}

.navbar-inverse .nav > li.active-trail > a {
	color: #fff;
}

.dl-horizontal dt {
	width: 90px;
}
.dl-horizontal dd {
	margin-left: 110px;
}

span.or {
	margin-left: 13px;
	margin-right: 7px;
	color: gray;
}

/* Large desktop */
@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
	header h2 { display: none!important; }
	header h1 { font-size: 29px; line-height: normal; }
}

@media (min-width: 979px) {
	.navbar .brand { display: inline }
}

@media (max-width: 979px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	header h1 { display: none; }
}
 
/* Landscape phones and down */
@media (max-width: 599px) {
	header a {display:none}
	header a.ufal {display:block}
}

@media (max-width: 480px) {
	.hero-unit h1 { font-size: 30px }
	.hero-unit aside { width: 80%!important }
	body { padding: 0 }
	.paper-sheet { padding: 10px; }
}

.field-name-field-avatar {
	float: right;
}
.carousel-indicators {
position: absolute;
top: auto;
bottom: 15px;
right: 15px;
z-index: 5;
margin: 0;
list-style: none;
height: 10px;
}
.carousel-indicators li { cursor: pointer;}

.social-bar { margin-left: 20px; margin-bottom: 15px; width: 50px; float:right; margin-right:15px;}
.social-bar a { font-size: 44px; color:lightblue; margin:15px; }
.social-bar a:hover { text-decoration: none; }
address { margin-bottom:0; }