header.site-head a {
	float: right;
	margin: 20px 20px 20px 10px;
}
header.site-head a.ufal {
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
	margin-top: 22px;
}
header a.logo {
	float: left;
}

header.site-head h1 {
	font-size: 30px;
	margin-top: 22px;
}

.field-name-field-former-name {
	font-size: 14px;
	line-height: 14px;
}

/* Large desktop */
@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (min-width: 979px) {
	.navbar .brand { display: inline }
}

@media (max-width: 979px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 599px) {
}

@media (max-width: 480px) {
}

.field-name-field-avatar {
	float: right;
}
/* #myCarousel { height: 280px; overflow:hidden} */
.carousel-indicators {
position: absolute;
top: auto;
bottom: 15px;
right: 15px;
z-index: 5;
margin: 0;
list-style: none;
height: 10px;
}
.carousel-indicators li { cursor: pointer;}

.social-bar { margin-left: 20px; margin-bottom: 15px; width: 50px; float:right; margin-right:15px;}
.social-bar a { font-size: 44px; color:lightblue; margin:15px; }
.social-bar a:hover { text-decoration: none; }
address { margin-bottom:0; }
.teaching-bar a { margin: 5px; }
